/*CSS Styles for the banner section ONLY*/

#banner{
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

#banner .ground{
    /*the actual background image*/
    width: 100%;
    height: 100vh;
    /* Add the blur effect */
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

/*
.overlay{
    position: absolute;
    background: var(--faded-primary);
    top: 0;
    bottom: 0;
    left: 0; 
    right: 0;
    opacity: .2
}
*/

.on-banner{
    position: absolute;
    bottom: 280px;
    left: 40px;
    right: 50px;
    color: var(--main-primary);
    background: var(--plane);
    padding: 5px 0px;
    text-align: center;
}

.on-banner h1{
    font-size: 1.2rem;
    letter-spacing: .12rem;
    line-height: 2.4rem;
}

.on-banner div{
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.on-banner div a{
    
}

.on-banner div a img{
    width: 30px;
    padding: 10px 0 0;
}

.on-banner div a:hover img{
    width: 40px;
    padding: 0;
}

#banner .minor{
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    text-align: center;
    text-decoration: none;
    color: var(--plane);
    cursor: pointer;
    font-size: .9rem;
    letter-spacing: .2rem;
}

@media only screen and (max-width: 700px){
    .on-banner{
        bottom: 165px;
        left: 8px;
        right: 8px;
    }
    .on-banner h1{
        font-size: 1rem;
    }
    .on-banner div{
        width: 50%;
    }
    #banner .minor{
        bottom: 80px;
        left: 0;
        right: 0;        
    }
}