/*CSS styels for the education and experience section*/

#education{
    margin: 40px 0;
}

.show{
    width: 95%;
    margin: 10px auto;
}

.show h3{	
	margin: 0;
    font-size: 1rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .4);
    font-style: oblique;    
}

.show h3 span{
    font-size: .9rem;
    margin: 0 0 0 10px;
}

.show p{
	margin: 0;
	font-size: .8rem;
	text-align: justify;
	line-height: 1.5rem;
	padding: 3px 0 10px;
	border-bottom: 1px solid;
}

@media only screen and (max-width: 700px){
	.show{
		width: 100%;
	}
	.show h3{
		font-size: .9rem;		
	}
	.show p{
		display: none;
	}
}