/*Css Styles for the Information section*/

#information{
    margin: 30px 0;
}

.row{
    width: 97%;
    margin: 10px auto;

}

.row span{
    font-size: .9rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-weight: 900;
}

.row p{
	font-size: .9rem;
	margin: 5px 0;
	text-align: justify;
	color: var(--main-primary);
}

@media only screen and (max-width: 700px){
	.row{
		width: 96%;
	}
    
    .row span{
    	font-size: .8rem;
    }

	.row div{
		font-size: .95rem;

	}
}