/*Css styles for the introdcution section*/

#introduction{
    width: 97%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

#introduction .view{
    width: 30%;
}

#introduction .view img{
	width: 85%;
}

#introduction .read{
	width: 65%;
}

#introduction .read p{
	margin: 0;
	font-size: .9rem;
	text-align: justify;
	letter-spacing: .1rem;
	line-height: 1.7rem;
}

.not-important{
	/*a class that is not meant to be visible in some small screen width*/
}

@media only screen and (max-width: 960px){
	#introduction{
		flex-direction: column;
	}

	#introduction .view{
		width: 100%;
		text-align: center;
	}

	#introduction .view img{
		width: 40%;
		margin: 30px 0 10px;
	}

	#introduction .read{
		width: calc(100% - 20px);
		padding: 2px 10px;
	}
}


@media only screen and (max-width: 700px){
	.not-important{
		display: none;
	}
	#introduction .view{
		width: 100%;
	}
	#introduction .view img{
		margin: 0 auto;
		width: 70%;
	}
}