#introduction{
	display: flex;
    justify-content: space-between;
    margin: 55px 25px 50px;
    /*min-height: 80vh;*/
}

#identity{
	width: 35%;
	text-align: center;
}

#identity img{
	width: 260px;	
	border-radius: 20px;
	box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, .4);
}

#social-icons{
	display: flex;
	justify-content: space-around;
	width: 60%;
	margin: 10px auto;
}

#social-icons div img{
	width: 35px;
	cursor: pointer;
}

#content{
	width: 60%;
	padding: 0 20px;
}

#intro p{
	font-size: .88rem;
	text-align: justify;
	line-height: 1.9rem;
	letter-spacing: .08rem;

}



@media only screen and (max-width: 800px){
	#introduction{
		display: flex;
		flex-direction: column;
	}
	#identity{
		width: 90%;
		margin: 0 auto;
	}

	#content{
		width: 90%;
		margin: 0 auto;
	}

}

@media only screen and (max-width: 700px){
	#content{
		width: 100%;
		padding: 0;
	}
}