/*Css styles for the navigation section*/

#navigator{
	margin: 2px auto;
    display: flex;
    justify-content: space-around;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    right: 8px;
    background: var(--accent);
    padding: 5px 0;
    opacity: .8;
    z-index: 10;
}

#navigator h2{
    margin: 0;
}

#navigator div{

}

#navigator div a{
    text-decoration: none;
    color: var(--main-primary);
}

#navigator div a:hover{
	color: var(--light-primary);
	border-bottom: 5px dashed;
}

@media only screen and (max-width: 850px){
	#navigator{
		display: inline-block;
	}
	#navigator h2{
		display: none;
	}
	#navigator div{
		text-align: center;
	}
}

@media only screen and (max-width: 700px){
	#navigator{
		display: none;
	}
	
}