body{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: tahoma, Halvetica, sans-serif;
}


footer{
	background-color: blueviolet;
	padding: 5px 0;
    text-align: center;
    color: #f7f7f7;
    font-size: .8rem;	
    letter-spacing: .25rem;
}
