body {
	font-family: tahoma, Halvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	/* all three lines above are equivalent to :
	font: 15px/1.5 tahoma, Halvetica, sans-serif;*/
	padding:0;
	margin:0;
	background-color: #f4f4f4; /*light grey*/
}
/*Global*/
.container {
	width: 80%;
	margin: auto; /*moves it to the middle*/
	overflow: hidden /*anything overflowing outside the div should be hidden to avoid scroll bars*/
}

ul{
	margin:0;
	padding:0;
}

button{
	height: 30px;
	background: #e8491d;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

/*Headers*/
header{
	background: darkblue;
	color: white;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: brown 3px solid; /*#e8491d orange similar to my brown*/
}

header a{
	color: #ffffff; /*white*/
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px brown transparent;
}

header a:hover{
	color: #cccccc; /*grey*/
	font-weight: bold;
	border-bottom: 1px brown solid;
}


header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px; /*top right bottom left*/
}

header #myBrand{
	float: left;
}

header #myBrand h1{
	margin: 0;
}

header nav{
	float:right;
	margin-top: 10px;
}

header .current a{
	color: brown;
	font-weight: bold;
	border-bottom: 1px solid brown;
}


/*showCase Section styles This is where there is a background picture
and an overlying text*/

#showCase{
	min-height: 400px;
	background-image: url('../img/cyberwall.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

#showCase p{
	font-size: 40px;
	margin-top: 200px;
	margin-bottom: 10px;
	color: black;
}

/*contactMe section Styles This is where is have links to my other social accounts
plus my email*/
#contactMe {
	padding: 15px;
	color: #ffffff;
	background-color: darkblue;
}

#contactMe li{
	float: left;
	padding: 12px 20px 0 20px;
	display: inline;
}
#contactMe li a{
	color: white;
	text-decoration: none;
}

#contactMe p{
	float: right;
	padding-bottom: 10px;
}

/*introduction Section Styles This is where i Have a picture of me and I welcome
the reader to my page*/

#introduction{
	margin-top: 20px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}
/**/
#introduction .introCircle {
	/*The frame containing the image*/
	float: left;
	width: 45%;
	padding: 6px;
	text-align: center;
}

#introduction .introCircle img{
	/*the image itself*/
	width: 180px;
	border-radius: 50%;
	padding-top: 22px;
}

#introduction .introCircle p{
	/*my welcoming message to the reader*/
	text-align: justify;
	color: darkblue;
}

#introduction .introCircle h1{
	/*the header of my welcoming message to the reader that currently says 'HELLO!'*/
	color: brown;
	text-align: center;
}


/* information Sections Styles would sit here*/

#informationTable{
	/*The whole of the informationTable section*/
	margin-top: 40px;
	min-height: 400px;
	border: 2px solid darkblue;
}

#informationTable .data {
	/*This part of the informationTable conatins the links*/
	display: table;
	width: 100%
}
.heads {
	/*a subsection of the #informationTable .data that directly house the links*/
	display: table-header-group;
	font-size: 1.2em;
}

.heads a{
	/*The links themselves*/
	display: table-cell;
	border-bottom:1px solid darkblue;
	border-right: 1px solid darkblue;
	text-decoration: none;
	color: darkblue;
	text-align: center;
}


.heads .active{
	/*When the links are active*/
	font-weight: bold;
	color: white;
	background-color: darkblue;
	border-bottom: 1px solid transparent;
}

.heads a:hover{
	/*When the links are hovered on*/
	font-weight: bold;
}

#informationBody {
	/*The entire content except from the links are housed here*/
	padding: 0 20px 10px 10px;
	text-align: justify;
}

.initial {
	/*the first text that appears in the informationBody before the reader
	clicks on any of the links*/
	text-align: center;
	font-weight: 600;
	color: brown;
}

#informationBody canvas{
	/*The styles for the drawings withing the body
	actually, the drawings are under the skillClass but since no other class under the
	#informationbody has a canvas...this applies to it*/
	float: right;
	padding-top: -10px;
}

#informationBody .skillClass {
	/*this houses everything that show up when the reader clicks on 'Skils' and 'profile'*/
	height: 30px;
	padding-top: 10px;
	border-bottom: 1px solid blue;
}

#informationBody .skillClass:hover {
	/*hovering on items displayed by the 'skill' and 'profile' link*/
	color: blue;
	font-weight: bold;
	border-bottom: 2px solid blue;
}

#informationBody .projectClass {
	/*This houses everyhting that show uo when the user clicks on the 'project' link*/
	border-bottom: 1px solid blue;
}

#informationBody .projectClass:hover {
	/*hovering on items displayed by the 'project' link*/
	border-bottom: 2px solid blue;
	font-weight: bold;
}

#informationBody .projectClass a {
	/*the project link comes with an <a> tag which refers to the webpage
	of individual projects, this is the styles for those <a> tag*/
	color: black;
	font-size: 1.2em;
	text-decoration: none;
	border-bottom: 1px solid black;
	text-transform: uppercase;
}




/*footer*/
footer{
	padding:20px;
	margin-top: 30px;
	color: #ffffff;
	background-color: darkblue;
	text-align: center;
	font-size: 0.7em;
}