#work{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 60px;
}

#work .navs{
	display: flex;
	justify-content: space-between;	
}

#work .navs div{
    font-size: .8rem;
    text-transform: uppercase;
    color: blueviolet;
    font-weight: 700;
    letter-spacing: .1rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

#work .navs div:hover, #work .navs div.active{
    background-color: blueviolet;
    color: #f8f8f8;
    border-radius: 0px 50px 0 0;
}

#content-display{
	width: 100%;
	min-height: 30vh;
	border-top: 1px dashed blueviolet;
}

#project-display, #expertise-display, #info-display{
    display: none;
}

#project-display.active{
    display: block;
}

#project-display div{
    border-bottom: 1px dotted blueviolet;
    padding: 0;
}

#project-display div h2{
    margin: 10px 0;
    padding: 0;
}

#project-display div h2 a{
    text-decoration: none;
    font-size: .9rem;
    padding: 0;
    margin: 0;
    color: blueviolet;
    letter-spacing: .2rem;
}

#project-display div h2 a:hover{
    color: blue;
}

#project-display div p{
    text-align: justify;
    font-size: .7rem;
    line-height: 1.6rem;
    letter-spacing: .06rem;
    padding: 0;
    margin: 0;
}

#expertise-display.active{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 5px;
}

#expertise-display div{
    background: rgba(20, 20, 60, .4);
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px;
    font-size: .7rem;
    letter-spacing: .07;
    color: #f0f0f0;
}

#info-display.active{
    display: block;
}

#info-display .info-body{
    display: flex;
    justify-content: space-between;
    font-size: .7rem;
    letter-spacing: .06rem;
    line-height: 1.4rem;
    width: 90%;
    margin: 10px auto;
}

.info-body .info-head{
    width: 20%;
    color: blueviolet;
}

.info-body .info{
    width: 60%;
}

.info-body .info span{
    display: block;
    font-style: italic;
}

@media only screen and (max-width: 800px){  

    #work{
        width: 90%;
    }

    #work .navs div{
        font-size: .7rem;
        font-weight: 600;
        letter-spacing: .06rem;
        padding: 5px 0;
    }

    #work .navs div:hover, #work .navs div.active{
        border-radius: 0;
    }

    #project-display div h2{
        margin: 3px 0;
    }
    .info-body .info-head{
        overflow-wrap: break-word;
    }
}